@import "tailwindcss";


.noScrollBar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.noScrollBar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}